# Dia 3

## Temario

- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de Datos
Las estructuras de datos son formas de organizar informacion para trabajar con ella de manera eficiente.

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave:valor

Nota:

- Pilas (FILO -> First in, Last out)
- Colas (FIFO -> First in, First out)
- Listas enlazadas (o doblemente enlazadas)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [2]:
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","jamon"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [4]:
print(lista_de_compras[6])

jamon

In [5]:
# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
lista_de_compras

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [7]:
# Agregar un elemento en una posicion especifica
lista_de_compras.insert(1,"platano")
lista_de_compras

['manzanas',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'sopa']

In [8]:
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [9]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [10]:
lista_de_compras.pop() # Sin nada dentro del parantesis borra el ultimo elemento
lista_de_compras.pop(7) # o puedes agarrarla posicion que quieras (pero iniciando desde 0)
# Nota: te retorna el numero eliminado

'jamon'

In [13]:
# Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [14]:
# len() saca el tamano de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [16]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() #sort() sirve para ordenar la lista de manera ascendete
print(promedios)
# ordenar una lista de amnera descendente
promedios.sort(reverse = True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [17]:
#Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [19]:
# Encontrar el mayor y el menos de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [22]:
# Declaracion y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f" Cali {j}: {cali_j}")
    j += 1
  j = 0
  i += 1

Alumno 1
 Cali 1: 100
 Cali 2: 88
 Cali 3: 93

Alumno 2
 Cali 1: 99
 Cali 2: 56
 Cali 3: 72

## Tuplas
Colecciones ordenadas pero inmutables.

In [28]:
# Hagamos un donde guardemos fechas de nacimientos de un grupo en una tupla
fechas = ("10/10/05","22/03/02","17/04/04","25/02/04")
print(type(fechas))
fechas

<class 'tuple'>

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [25]:
# ES INMUTABLE
fechas.append("10/06/03") #TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
fecha_lista = list(fechas) # Aqui ya puedes usar los comandos basicos de una lista

## SETS
Los sets son colecciones SIN orden y que NO permiten elementos duplicados

In [29]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
print(nombre)
print(type(nombre))

{'Angel', 'Diana', 'Juan', 'Eliud'}
<class 'set'>

In [31]:
distintos_datos = {"Angel", 1, "Diana", "Juan", 4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [32]:
# Add
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [33]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [34]:
nombre[2] = "Axel"

TypeError: 'set' object does not support item assignment

In [36]:
# Union
matutino = {20322,22183,123123,53234}
vespertino = {20322,111111,22222222,3333333}
# Union pero con .union()
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
# Union pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 22183, 111111, 22222222, 53234, 123123, 3333333}
{20322, 22183, 111111, 22222222, 53234, 123123, 3333333}

In [37]:
# Interseccion
ca = {1234,121,646,12414,73434,124124,675234}
al = {1234,111,222,333,444}
#interseccion con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
# interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [39]:
# Diferencia
#Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{675234, 646, 121, 73434, 124124, 12414}
{675234, 646, 121, 73434, 124124, 12414}

In [41]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
#remove, pop
#nombre.remove("Angel") #Puedes eliminar el que tu quieras
print(nombre)
nombre.pop() # Elimina un elemento de manera aleatoria
print(nombre)

{'Angel', 'Diana', 'Juan', 'Eliud'}
{'Diana', 'Juan', 'Eliud'}

In [43]:
# Eliminar todo el SET
nombre.clear()
nombre

set()

## Diccionarios
Los diccionarios son colecciones no ordenadas de pares clave:valor

In [45]:
alumno = {
    #clave     valor
    "nombre": "Eliud Sanchez",
    "edad": 21,
    "carrera": "LCC",
    "semestre": 7,
    "promedio": 88,
    "calificaciones": [100,94, 94,97,100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Eliud Sanchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100]}

In [46]:
# -----------------------------------------HASTA AQUI --------------------------------
print("El alumno ", alumno["nombre"], " esta estudiando ", alumno["carrera"])

El alumno  Eliud Sanchez  esta estudiando  LCC

In [47]:
# Agregar al diccionario
alumno["area preferida"] = "Ciencia de Datos"
alumno

{'nombre': 'Eliud Sanchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [48]:
for valor in alumno:
  print(alumno[valor])

Eliud Sanchez
21
LCC
7
88
[100, 94, 94, 97, 100]
Ciencia de Datos

In [50]:
for clave, valor in alumno.items():
  # devuelve una vista de todos los pares clave:valor del diccionario
  print(clave,": ", valor)

nombre :  Eliud Sanchez
edad :  21
carrera :  LCC
semestre :  7
promedio :  88
calificaciones :  [100, 94, 94, 97, 100]
area preferida :  Ciencia de Datos

In [51]:
# El metodo .clear() tambien usar aqui.
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Eliud Sanchez

In [55]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Eliud Sanchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')])
<class 'dict_items'>
[('nombre', 'Eliud Sanchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')]
<class 'list'>

In [57]:
# El metodo .values() sirve para obtener los values del diccionario, tambien se puede usar en la iteraccion
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Eliud Sanchez', 21, 'LCC', 7, 88, [100, 94, 94, 97, 100], 'Ciencia de Datos'])

In [58]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [59]:
#.copy() puedes copiar todo el diccionario en una nueva variable
# Update -> Sirve para cambiar los values (valores) (.update())
alumno.update({"semestre":6})
alumno

{'nombre': 'Eliud Sanchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 6,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}